
.header-container{
    display: flex;
    height: 50px;
    padding: var(--space-small);
    background-color: #e8e8e8;
    align-items: center;
}


.header-counter{
    margin-left: auto;
    padding-right: 10px;
    font-weight: bold;
    cursor: pointer;
}


.header__span{
    font-weight: 700;
    padding-left: 30px;
    font-size: 22px;
 
    cursor: pointer;
}